
.container-fluid {
    background-image: url("../../../../public/assets/fondo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .columna-gest {
    border-radius: 12px;
    background-color: white;
    max-width: 1000px;
  }
  
  table {
    background-color: rgb(243, 243, 236);
  
    width: 90%;
  }
  
  td {
    padding: 12px;
    min-height: 100%;
    vertical-align: middle;
  }
  
  .btn-edit,
  .btn-del,
  .btn-crear {
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 15px;
    border: none;
  }
  
  
  .btn-crear:hover {
    background-color: rgba(237, 117, 87, 0.645);
  }
  
  .btn-del:hover {
    transition: 0.15s ease-in-out;
    box-shadow: 0.15s ease-in-out;
    background-color: #ed7557;
  }
  
  .btn-edit:hover {
    transition: 0.15s ease-in-out;
    box-shadow: 0.15s ease-in-out;
    background-color: #579e82;
  }
  
  .btn-edit .btn-del {
    width: 1200px !important;
  }
  
  
  /* FORMULARIO EDIT/DELETE */
  
  
  .row-form{
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  
  .form-label{
    margin: 0;
   
    padding: 0 15px 0 0;
    text-align: start;
  }
  .form-control{
    border: none;
    gap: 5%;
    
    
  }
  .paso_paso{
    min-height: 250px;
    vertical-align: top;
  }

  .paso_pasoLabel{
    vertical-align: top;
  }
  
  .rolClass{
    border-bottom: none;
    margin: 0 0 ;
  }
  
  .rolOption{
    color:#6c757d ;
  }
  
  .modal-custom-width{
    min-width: 800px;
  }
  
  
  
  
  @media (max-width: 1024px) {
    .cabecero {
      flex-direction: column;
      align-items: center;
    }
  
    .btn-edit.btn-del {
      min-width: 80px;
    }
  }
  @media (max-width: 576px) {
    .fs-5 {
      font-size: 16px!important;
    }
  
    .row-form{
      align-items: flex-start;
      flex-direction: column;
    }
    .form-label{
      text-align: start;
      padding: 0 12px;
      width:100%
    }
    .form-control{
      width:100%
    }
  }
  