<!-- recetas  -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col mb-2" *ngFor="let recipe of recipes">
      <div class="card" >
        <img
          src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/C8418F2E-FCDF-4612-AB4D-790369D8B767/Derivates/AABF216C-6591-44BC-A5C2-FC8A4A5482E5.jpg"
          class="card-img-top img-fluid"
          alt="..."
          height="250px"
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{recipe.nombre}}</h5>
          <div class="d-flex gap-3 justify-content-between">
            <p class="card-text texto-recetas">
              <i class="fa-regular fa-clock"></i>
              {{recipe.tiempo_preparacion}} min
            </p>
            <p class="card-text texto-recetas ">
              <i class="fa-solid fa-utensils"></i> {{recipe.categoria}}
            </p>
          </div>
          <div class="card-text mt-2">
            <button class="btn btn-recipe" data-bs-toggle="modal" data-bs-target="#flavouryModal" (click)="viewDetail(recipe)">
              Ver receta <i class="fa-solid fa-square-caret-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

