.footer{
    width: 100%;
    height: 250px;/* momentaneo */
    background-color: #1E222B;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer p {
    margin: 0;
    font-size: 1rem;
}

.footer a:hover {
    color: #1739cf !important;
  }
