<div class="page-container">

<!-- <app-create-account-header></app-create-account-header>

<app-stock></app-stock> -->

<!-- <app-login></app-login> -->
<!--  <app-create-account></app-create-account>  -->
<header>
    <app-header *ngIf="currentHeader() === 'inicio'"></app-header>

    <app-usuario-header
      *ngIf="currentHeader() === 'header-usuario'"
    ></app-usuario-header>
  </header> 
  <main class="content-wrap"> 
    <!-- <app-usuario></app-usuario> -->
    <!-- <app-inicio-admin></app-inicio-admin> -->
    <!-- <app-inicio></app-inicio>  -->
    <!-- <app-login></app-login>  -->
  <!--  <app-create-account></app-create-account> -->
    <router-outlet />
  </main> 
<!--   <app-create-account-footer></app-create-account-footer> -->

  <footer>
    <app-footer></app-footer>
  </footer>

  
</div>
