

<div class="main main-bg">

    <h2 >Crea tus recetas</h2>
    <div class="form-container">
      <form>
        <!-- Campo Nombre -->
        <div class="form-group">
          <label for="nombre" class="form-label">Nombre Receta</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            class="form-input"
            placeholder="Ej. Paella Valenciana"
            required
          />
        </div>
  
        <!-- Campo Imagen -->
        <div class="form-group">
          <label for="imagen" class="form-label">Imagen</label>
          <input
            type="file"
            id="imagen"
            name="imagen"
            class="form-input"
            accept="image/*"
            required
          />
        </div>
  
        <!-- Campo Descripción -->
        <div class="form-group">
          <label for="descripcion" class="form-label">Descripción</label>
          <textarea
            id="descripcion"
            name="descripcion"
            class="form-input"
            placeholder="ej. Arroz dorado con azafrán, pollo, conejo y verduras, típico de Valencia."
            rows="4"
            required
          ></textarea>
        </div>
  
        <!-- Campo Tiempo de Preparación -->
        <div class="form-group">
          <label for="tiempo-preparacion" class="form-label">Tiempo de Preparación</label>
          <input
            type="text"
            id="tiempo-preparacion"
            name="tiempo-preparacion"
            class="form-input"
            placeholder="Ej. 30 minutos"
            required
          />
        </div>
  
        <!-- Campo Categoría -->
        <div class="form-group">
          <label for="categoria" class="form-label">Categoría</label>
          <input
            type="text"
            id="categoria"
            name="categoria"
            class="form-input"
            placeholder="Ej. Plato Principal"
            required
          />
        </div>
  
        <!-- Campo Estación -->
        <div class="form-group">
          <label for="estacion" class="form-label">Estación</label>
          <input
            type="text"
            id="estacion"
            name="estacion"
            class="form-input"
            placeholder="Ej. Verano"
            required
          />
        </div>
  
        <!-- Botón de Envío -->
        <div class="boton">
          <button type="submit" class="btnComenzar">Agregar Receta</button>
        </div>
      </form>
    </div>
  </div>
  

