<div class="fondo-pantalla">
  <div class="container">
    <div class="row g-0">
      <!--  elem. 1 -->

      <div class="col-12 col-xl-6">
        <div
          class="fondo mt-3"
          style="background-image: url('assets/fondo-admin/foto4.png')"
        >
          <div class="cuadrado cuadrado-admin-user text-center">
            <a style="color: #8093ff" class="link1" [routerLink]="'/gestion-user'"
              >Administación de Usuarios</a
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6">
        <div
          class="fondo mt-0 mt-xl-3"
          style="background-image: url('assets/fondo-admin/rectangulo4.png')"
        >
          <div class="texto">
            <p>
              Desde este panel, podrás administrar y gestionar lo referente a
              los usuarios, agregar, modificar o cambiar rol, o eliminarlos.
            </p>
            <div class="botonera">
              <button class="btn btnAcceder" [routerLink]="'/gestion-user'">
                Acceder
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- elem. 2 -->
      <div class="segundo">
        <div class="col-12 col-xl-6">
          <div
            class="fondo mt-3"
            style="background-image: url('assets/fondo-admin/foto7.png')"
          >
            <div class="cuadrado cuadrado-admin-receta text-center">
              <a href="" style="color: #f18c57" class="link1"
                >Administración de Recetas</a
              >
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-6">
          <div
            class="fondo mt-0 mt-xl-3"
            style="background-image: url('assets/fondo-admin/rectangulo5.png')"
          >
            <div class="texto">
              <p>
                Desde este panel, podras gestionar lo referente a las recetas
                como añadir nuevas, modificar las existentes (alérgenos,
                ingredientes, cantidades...) o eliminar recetas.
              </p>
              <div class="botonera">
                <button class="btn btnAcceder" [routerLink]="'/gestion-recipe'">
                  Acceder
                </button>

                <button class="btn btnAcceder" routerLink="/recipe">
                  Recetas Inteligentes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-12 col-xl-6">
        <div
          class="fondo mt-3"
          style="background-image: url('assets/fondo-admin/foto6.png')"
        >
          <div class="cuadrado cuadrado-gestion-stock text-center">
            <a href="" style="color: #398d69" class="link1">Gestión de Stock</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6">
        <div
          class="fondo mt-0 mt-xl-3 mb-3"
          style="background-image: url('assets/fondo-users/rectangulo2.PNG')"
        >
          <div class="texto">
            <p>
              Desde este panel, podrás gestionar el stock disponible, asi cómo
              modificarlo, en caso de no coincidir con la realidad, o eliminar
              los productos que se han desechado.
            </p>
            <div class="botonera">
              <button class="btn btnAcceder" [routerLink]="'/listado-stock'">
                Acceder
              </button>

              <button class="btn btnAcceder" [routerLink]="'/caducidades'">
                Próximas caducidades
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
