
<div class="fondo-pantalla">
    <div class="container ">
        <div class="row g-0">

            <!--  elem. 1 -->
            
            <div class="col-12 col-xl-6">
                <div class="fondo mt-3" style="background-image: url('assets/fondo-admin/foto4.png');">
                    <div class="cuadrado-admin-user text-center">
                        <a style=" color: #8093ff ;" class="link1">Administación de Usuarios</a>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-xl-6">
                <div class="fondo mt-0 mt-xl-3" style="background-image: url('assets/fondo-admin/rectangulo4.png');">
                    <div class="texto">
                        <p>Desde este panel, podrás administrar y 
                            gestionar lo referente a los usuarios, 
                            agregar, modificar o cambiar rol, o eliminarlos.
                        </p>
                        <div class="botonera d-flex justify-content-around ">

                            <button class="btn btnBotonera" [routerLink]="'/create-account'">Crear nuevo</button>
                            <button class="btn btnBotonera">Modificar</button>
                            <button class="btn btnBotonera">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- elem. 2 -->
            <div class="segundo">
                <div class="col-12 col-xl-6">
                    <div class="fondo mt-3" style="background-image: url('assets/fondo-admin/foto7.png');">
                        <div class="cuadrado-admin-receta text-center">
                            <a href="" style=" color: #F18C57;" class="link1">Administración de Recetas</a>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-xl-6">
                    <div class="fondo mt-0 mt-xl-3" style="background-image: url('assets/fondo-admin/rectangulo5.png');">
                        <div class="texto">
                            <p>
                                Desde este panel, podras gestionar lo 
                                referente a las recetas como añadir nuevas,
                                 modificar las existentes (alérgenos, 
                                 ingredientes, cantidades...) o eliminar recetas.
                            </p>
                            <div class="botonera d-flex justify-content-around ">

                                <button class="btn btnBotonera">Crear nueva</button>
                                <button class="btn btnBotonera">Modificar</button>
                                <button class="btn btnBotonera">Eliminar</button>
                                <button class="btn btnBotonera">Recetas Inteligentes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
                <!-- elem. 3 -->

                <div class="col-12 col-xl-6">
                    <div class="fondo mt-3" style="background-image: url('assets/fondo-admin/foto6.png');">
                        <div class="cuadrado-gestion-stock text-center">
                            <a href="" style=" color: #398d69 ;" class="link1">Gestión de Stock</a>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-xl-6">
                    <div class="fondo mt-0 mt-xl-3 mb-3" style="background-image: url('assets/fondo-users/rectangulo2.PNG');">
                        <div class="texto">
                            <p>
                                Desde este panel, podrás gestionar el stock 
                                disponible, asi cómo modificarlo, en caso de
                                no coincidir con la realidad, o eliminar
                                los productos que se han desechado.
                            </p>
                            <div class="botonera d-flex justify-content-around ">

                                <button class="btn btnBotonera">Registrar</button>
                                <button class="btn btnBotonera">Modificar</button>
                                <button class="btn btnBotonera">Eliminar</button>
                                <button class="btn btnBotonera">Próximas caducidades</button>
                            </div>
                        </div>
                    </div>
                </div>

                
    
            <!-- elem. 4 -->
             <!--
            <div class="segundo">
             <div class="col-12 col-xl-6">
                    <div class="fondo mt-3" style="background-image: url('assets/fondo-users/foto3.png');">
                        <div class="cuadrado-recetas-inteligentes text-center">
                            <a href="" style=" color: #DC7131 ;" class="link1">Recetas Inteligentes</a>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-xl-6">
                    <div class="fondo mt-0 mt-xl-3" style="background-image: url('assets/fondo-users/rectangulo3.PNG');">
                        <div class="texto">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium soluta a laboriosam vel magni deleniti harum quod voluptas, quibusdam ratione, quidem explicabo adipisci eveniet. Odit voluptate ab repellendus saepe doloremque!</p>
                            <button class="btn btnAcceder">Acceder</button>
                        </div>
                    </div>
                </div> 
             
            </div>
            -->

            <!-- elem. 5 -->

               <!-- <div class="col-12 col-xl-6">
                    <div class="fondo mt-3" style="background-image: url('assets/fondo-admin/foto5.png');">
                        <div class="cuadrado-registro-productos text-center">
                            <a href="" style=" color: #62C49A ;" class="link1">Registro de Productos</a>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-xl-6">
                    <div class="fondo mt-0 mt-xl-3" style="background-image: url('assets/fondo-users/rectangulo1.PNG');">
                        <div class="texto">
                            <p>
                                Desde este panel, podrás registrar los productos 
                                de cada una de tus compras.
                            </p>
                            <button class="btn btnAcceder">Acceder</button>
                        </div>
                    </div>
                </div> -->
            
            




            <!-- FIN ELEMENTOS -->
        </div>
    </div>
    
</div>
