<header class="header d-flex flex-column justify-content-between">
    <div class="semitransparente">
    
        <nav class="navbar navbar-expand-md w-100 ">
            <div class="container-fluid">
                <a href="" class="navbar-brand">
                    <img src="assets/logo.svg" class="logo" alt="logo" >
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse " id="navbarSupportedContent"><!-- d-flex justify-content-end -->
                    <ul class="navbar-nav mb-2 mb-lg-0 d-flex ">
                        <li class="nav-item"><a routerLink="/inicio" class="nav-link">Inicio</a></li>
                       
                    </ul>
                    
                </div>
            </div>
            
        </nav>
        
        
    
    </div>   
    </header>
