<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-5 text-center">
        <h3 class="text-center pt-4">CREA UN NUEVO USUARIO</h3>
        <button class="btn btn-edit m-4" (click)="mostrarCrear()">
          Abrir Formulario
        </button>
        <!-- HACER QUE CUANDO CLIQUES EN EDITAR USER, EN EL FORM APAREZCAN LOS DATOS COMO
                 EL EJERCICIO DE PHP EN LUGAR DEL CREATE ACCOUNT -->
        <app-create-account *ngIf="mostrar"></app-create-account>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center">
        <h3 class="text-center pt-4">GESTIONA LOS USUARIOS</h3>
        <button class="btn btn-edit m-4" (click)="mostrarTabla()">
          Mostrar tabla
        </button>

        <div class="rounded-5 overflow-hidden border">
          <table *ngIf="vistaTabla" class="table rounded-5">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col" class="d-none d-sm-block">Rol</th>
                <th colspan="2" scope="col">Nombre</th>

                <th scope="col" class="d-none d-lg-block">Empresa</th>
                <th colspan="2" scope="col">Acciones</th>

                <th scope="col"></th>
              </tr>
            </thead>

            <tbody class="table-group-divider">
              <tr *ngFor="let item of listaUsers">
                <td scope="row"></td>
                <td class="d-none d-sm-table-cell">{{ item.id_rol }}</td>
                <td colspan="2">{{ item.nombre }} {{ item.apellido1 }}</td>

                <td class="d-none d-lg-table-cell">{{ item.empresa }}</td>

                <td>
                  <button class="btn btn-edit" (click)="prueba()">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-edit">
                    <i class="fa-solid fa-trash-arrow-up"></i>
                  </button>
                </td>

                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
