/* @media (max-width: 768px){
    .rowGest{
        justify-content: center;
    }
    
   

} */
.container-fluid{
    background-image: url('../../../../public/assets/fondo-inicio.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

table{
    border: 2px solid rgb(209, 209, 209);
    background-color: rgb(243, 243, 236);
    border-radius:8px;
    
}

td{
    background-color: rgb(243, 243, 236);
}
td:hover{
    background-color:  rgb(238, 158, 138);
    transition: 1s ease;
}

