/* @media (max-width: 768px){
    .rowGest{
        justify-content: center;
    }
    
   

} */
.container-fluid{
    background-image: url('../../../../public/assets/fondo-inicio.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* table{
    background-color: black;
    border-radius: 16px;
} */

td:hover{
    background-color:  rgb(238, 158, 138);
    transition: 1s ease;
}