<div class="container mt-4">



<h1 class="text-center p-3 mt-3">Métricas FlavouryStock</h1>

<div class="btn-group d-flex flex-wrap mb-4" role="group">
  <button type="button" class="btn btn-outline-primary flex-fill" (click)="selectMetric('stock')">📦 Stock</button>
  <button type="button" class="btn btn-outline-success flex-fill" (click)="selectMetric('caducidad')">⏳ Caducidad</button>
  <button type="button" class="btn btn-outline-warning flex-fill" (click)="selectMetric('recetas')">📋 Recetas</button>
  <button type="button" class="btn btn-outline-info flex-fill" (click)="selectMetric('estaciones')">🌱 Estaciones</button>
  <button type="button" class="btn btn-outline-dark flex-fill" (click)="selectMetric('ocupacion')">📊 Ocupación</button>
</div>

<ng-container [ngSwitch]="selectedMetric">
  <app-metric-stock *ngSwitchCase="'stock'"></app-metric-stock>
  <app-metric-caducidad *ngSwitchCase="'caducidad'"></app-metric-caducidad>
  <app-metric-recetas *ngSwitchCase="'recetas'"></app-metric-recetas>
  <app-metric-estaciones *ngSwitchCase="'estaciones'"></app-metric-estaciones>
  <app-metric-ocupacion *ngSwitchCase="'ocupacion'"></app-metric-ocupacion>
</ng-container>




</div>
