
<div class="fondo-pantalla">
    <div class="container ">
        <div class="row g-0">
            <div class="col-12 col-xl-6">
                <div class="fondo mt-3" style="background-image: url('assets/fondo-users/foto1.png');">
                    <div class="cuadrado1">
                        <a routerLink="/listado-stock" style=" color: #62C49A ;" class="link1">Registra tus Productos</a>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-xl-6">
                <div class="fondo mt-0 mt-xl-3" style="background-image: url('assets/fondo-users/rectangulo1.PNG');">
                    <div class="texto">
                        <p>Gestiona facilmente tu despensa añadiendo los productos de cada compra. ¡Mantén un control organizado y no vuelvas
                            a olvidar lo que tienes en tu despensa, nevera y congelador! </p>
                        <button class="btn btnAcceder" routerLink="/listado-stock">Acceder</button>
                    </div>
                </div>
            </div>
            <!-- segunda seccion -->

        
            <div class="segundo">
                <div class="col-12 col-xl-6">
                    <div class="fondo mt-3" style="background-image: url('assets/fondo-users/foto2.png');">
                        <div class="cuadrado2">
                            <a href="" style=" color: #579E82 ;" class="link1">Productos a Caducar</a>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-xl-6">
                    <div class="fondo mt-0 mt-xl-3" style="background-image: url('assets/fondo-users/rectangulo2.PNG');">
                        <div class="texto">
                            <p>Consulta de un vistazo los productos que están proximos a caducar y evita desperdiciar alimentos.
                                Recibe alertas y encuentra formas inteligentes de aprovecharlos
                            </p>
                            <button class="btn btnAcceder">Acceder</button>
                        </div>
                    </div>
                </div>
            </div>
    
    
    
    
            <!-- tercera seccion -->
            <div class="col-12 col-xl-6">
                <div class="fondo mt-3" style="background-image: url('assets/fondo-users/foto3.png');">
                    <div class="cuadrado3 ">
                        <a routerLink="/recipe" style=" color: #DC7131 ;" class="link1">Recetas Inteligentes</a>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-xl-6">
                <div class="fondo mt-0 mt-xl-3 mb-3" style="background-image: url('assets/fondo-users/rectangulo3.PNG');">
                    <div class="texto">
                        <p>Explora un catalogo de recetas variadas y encuentra inspiracion para tus comidas. También puedes descubbrir recetas en los ingredientes
                            que tienes en casa. ¡Cocina de forma práctica y creativa!
                        </p>
                        <button class="btn btnAcceder" routerLink="/recipe">Acceder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
