<div class="container-fluid">
  <div class="container-gestion p-3">
    <div class="row flex-column align-items-center">
      <div class="col-12 col-lg-12 text-center columna-gest my-5">
        <div class="cabecero d-flex justify-content-around">
          <h3 class="text-center pt-3 fs-1 fw-bold">APROVECHA TODO TÚ STOCK</h3>
        </div>
        <!-- HACER QUE CUANDO CLIQUES EN EDITAR item, EN EL FORM APAREZCAN LOS DATOS COMO
                   EL EJERCICIO DE PHP EN LUGAR DEL CREATE ACCOUNT -->
        <!-- <app-create-account *ngIf="mostrar"></app-create-account> -->

        <h3 class="text-center pt-3">CADUCA EN:</h3>
        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center g-4">

            <button
              class="btn btn-crear m-4 d-flex align-items-center justify-content-center"
              (click)="getEtiquetasMP()"
            >
              <span>Caducidad<3 </span>
              <span>&nbsp;&nbsp;</span>
              <i class="fa-solid fa-item-plus"></i>
            </button>
            <button
            class="btn btn-crear m-4 d-flex align-items-center justify-content-center"
              (click)="getEtiquetasP()"
            >
              <span>Caducidad 4-7 </span>
              <span>&nbsp;&nbsp;</span>
              <i class="fa-solid fa-item-plus"></i>
            </button>
            <button
            class="btn btn-del m-4 d-flex align-items-center justify-content-center"
              (click)="getCaducado()"
            >
              <span>Caducado </span>
              <span>&nbsp;&nbsp;</span>
              <i class="fa-solid fa-item-plus"></i>
            </button>
        </div>

        <table class="table mx-auto">
          <thead>
            <tr>
              <th class="d-none d-xs-table-cell" scope="col"></th>
              <th scope="col" class="d-none d-md-block">Nº ET.</th>
              <th scope="col">INGREDIENTE</th>

              <th class="d-none d-xs-table-cell" scope="col">CANTIDAD</th>
              <th scope="col">LUGAR</th>
              <th scope="col">F. CAD.</th>
              <th class="d-none d-md-block" scope="col">RECETA</th>

              <th class="d-none d-xs-table-cell" scope="col"></th>
            </tr>
          </thead>

          <tbody class="table-group-divider">
            <tr *ngFor="let item of caducidadesList">
              <td class="d-none d-xs-table-cell" scope="row"></td>

              <td class="fs-5 d-none d-md-table-cell">
                {{ item.id_etiqueta }}
              </td>
              <td class="fs-5">{{ item.nombre }}</td>
              <td class="fs-5 d-none d-xs-table-cell">
                {{ item.cantidad }} {{ item.unidad_medida }}
              </td>
              <td class="fs-5">
                <ng-container *ngIf="item.lugar_almacen === 'nevera'">
                  <img src="nevera3.png" alt="NEV" width="40" height="35" />
                </ng-container>

                <ng-container *ngIf="item.lugar_almacen === 'almacen'">
                  <img src="almacen2.png" alt="ALM" width="40" height="35" />
                </ng-container>

                <ng-container *ngIf="item.lugar_almacen === 'congelador'">
                  <img src="congelador3.png" alt="CON" width="40" height="35" />
                </ng-container>
              </td>
              <td class="fs-5">
                {{ item.fecha_caducidad | date : "dd/MM/yy" }}
              </td>

              <td class="fs-5 d-none d-md-table-cell">
                <!--EN BOTON QUIZAS VER RECETAS CON ESTE INGREDIENTE...veremos -->
                <button class="btn-del w-100">
                  <i class="fa-solid fa-receipt"></i>
                </button>
              </td>

              <td class="d-none d-xs-table-cell"></td>
            </tr>
          </tbody>
        </table>
        <app-modal [modalTitle]="modalTitle" [modalContent]="modalContent">
          <!--  <ng-container *ngIf="modalTitle === 'CREANDO USUARIO'; else editTemplate">
                <app-create-account></app-create-account>
             </ng-container> -->

          <ng-template #editTemplate>
            <ng-container *ngIf="modalTitle === 'EDITANDO USUARIO'"
              ><!-- ; else deleteTemplate -->

              <!-- <form>
                  
                  <div class="mb-1 row-form d-flex fs-3 flex-column flex-sm-row ">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control fs-3 text-secondary" id="nombre" [(ngModel)]="usuarioAEditar.nombre" name="nombre" selected>
                  </div>
                  <div class="mb-1 row-form d-flex fs-3 flex-column flex-sm-row ">
                    <label for="apellido1" class="form-label">Apellido 1:</label>
                    <input type="text" class="form-control fs-3 text-secondary" id="apellido1" [(ngModel)]="usuarioAEditar.apellido1" name="apellido1">
                  </div>
                  <div class="mb-1 row-form d-flex fs-3 flex-column flex-sm-row ">
                    <label for="apellido2" class="form-label">Apellido 2:</label>
                    <input type="text" class="form-control fs-3 text-secondary" id="apellido2" [(ngModel)]="busquedaNombre" name="apellido2">
                  </div>
                  <div class="mb-1 row-form d-flex fs-3 flex-column flex-sm-row rolClass">
                    <label for="idRol" class="form-label">Rol:</label>
                    <input type="redio" class="form-control fs-3 text-secondary  d-none d-sm-block" id="idRol" [value]="usuarioAEditar.id_rol === 1 ? 'Admin' : 'Usuario'">
                  </div>
  
                  <div class="fs-4 d-flex justify-content-around row-form mb-2">
  
                    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1" [checked]="usuarioAEditar.id_rol === 1" [value]="1" [(ngModel)]="usuarioAEditar.id_rol">
                      <label class="form-check-label rolOption" for="radioDefault1">
                        Admin
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" [checked]="usuarioAEditar.id_rol ===2" [value]="2" [(ngModel)]="usuarioAEditar.id_rol">
                      <label class="form-check-label rolOption" for="radioDefault2">
                        Usuario
                      </label>
                    </div>
                  </div>
  
                  <div class="mb-1 row-form d-flex fs-3 flex-column flex-sm-row ">
                    <label for="empresa" class="form-label">Empresa:</label>
                    <input type="text" class="form-control fs-3 text-secondary" id="empresa" [(ngModel)]="usuarioAEditar.empresa" name="empresa">
                  </div>
                  <div class="mb-1 row-form d-flex fs-3 flex-column flex-sm-row ">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control fs-3 text-secondary" id="email" [(ngModel)]="usuarioAEditar.email" name="email">
                  </div>
                  <button type="button" class="btn btn-edit mt-3" (click)="edititem()">Guardar Cambios</button>
  
                </form> -->
            </ng-container>
          </ng-template>
        </app-modal>
      </div>
    </div>
  </div>
</div>
