<div class="container-fluid">
  <div class="container-gestion p-3">
    <div class="row justify-content-center align-items-center gestion">
      <div class="col-12 col-lg-12 text-center columna-gest my-5">
        <div class="cabecero d-flex justify-content-around">
          <h3 class="text-center pt-3 fs-1 fw-bold">APROVECHA TODO TÚ STOCK</h3>
        </div>

        <h3 class="text-center pt-3">CADUCA EN:</h3>
        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center g-4">

            <button
              class="btn btn-crear m-4 d-flex align-items-center justify-content-center"
              (click)="getEtiquetasMP()"
            >
              <span>Menos de 3 días </span>
              
            </button>
            <button
            class="btn btn-crear m-4 d-flex align-items-center justify-content-center"
              (click)="getEtiquetasP()"
            >
              <span>Entre 4-7 días </span>
              
            </button>
            <button
            class="btn btn-del m-4 d-flex align-items-center justify-content-center"
              (click)="getCaducado()"
            >
              <span>Caducado </span>
              
            </button>
        </div>

        <table class="table mx-auto">
          <thead>
            <tr>
              <th class="d-none d-xs-table-cell" scope="col"></th>
              <th scope="col" class="d-none d-md-block">Nº ET.</th>
              <th scope="col">INGREDIENTE</th>

              <th class="d-none d-xs-table-cell" scope="col">CANTIDAD</th>
              <th scope="col">LUGAR</th>
              <th scope="col">F. CAD.</th>
              <th class="d-none d-md-block" scope="col">RECETA</th>

              <th class="d-none d-xs-table-cell" scope="col"></th>
            </tr>
          </thead>

          <tbody class="table-group-divider">
            <tr *ngFor="let item of caducidadesList">
              <td class="d-none d-xs-table-cell" scope="row"></td>

              <td class="fs-5 d-none d-md-table-cell">
                {{ item.id_etiqueta }}
              </td>
              <td class="fs-5">{{ item.nombre }}</td>
              <td class="fs-5 d-none d-xs-table-cell">
                {{ item.cantidad }} {{ item.unidad_medida }}
              </td>
              <td class="fs-5">
                <ng-container *ngIf="item.lugar_almacen === 'nevera'">
                  <img src="nevera3.png" alt="NEV" width="40" height="35" />
                </ng-container>

                <ng-container *ngIf="item.lugar_almacen === 'almacen'">
                  <img src="almacen2.png" alt="ALM" width="40" height="35" />
                </ng-container>

                <ng-container *ngIf="item.lugar_almacen === 'congelador'">
                  <img src="congelador3.png" alt="CON" width="40" height="35" />
                </ng-container>
              </td>
              <td class="fs-5">
                {{ item.fecha_caducidad | date : "dd/MM/yy" }}
              </td>

              <td class="fs-5 d-none d-md-table-cell">
                <button class="btn-del w-100" [routerLink]="['/suggested-recipes', item.id_ingrediente]">
                  <i class="fa-solid fa-receipt"></i>
                </button>
              </td>

              <td class="d-none d-xs-table-cell"></td>
            </tr>
          </tbody>
        </table>
        <app-modal [modalTitle]="modalTitle" [modalContent]="modalContent">


          <ng-template #editTemplate>
            <ng-container *ngIf="modalTitle === 'EDITANDO USUARIO'"
              >
            </ng-container>
          </ng-template>
        </app-modal>
      </div>
    </div>
  </div>
</div>
