<header class="header d-flex flex-column justify-content-between">
<div class="semitransparente">

    <nav class="navbar navbar-expand-md w-100 ">
        <div class="container-fluid">
            <a href="" class="navbar-brand">
                <img src="assets/logo.svg" class="logo" alt="logo" >
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSupportedContent"><!-- d-flex justify-content-end -->
                <ul class="navbar-nav mb-2 mb-lg-0 d-flex ">
                    <li class="nav-item"><a routerLink="/inicio" class="nav-link">Inicio</a></li>
                    <li class="nav-item">
                        <span class="nav-link-wrapper">
                          <a [routerLink]="isLoggedIn ? '/listado-stock' : null" 
                             [class.disabled]="!isLoggedIn"
                             class="nav-link"
                             #stockLink>
                             Stock
                          </a>
                          <span class="login-tooltip" *ngIf="!isLoggedIn">Inicia sesión para ver el stock</span>
                        </span>
                    </li>
                    <li class="nav-item"><a routerLink="/recipe" class="nav-link">Recetas</a></li>
                    <li class="nav-item"><a routerLink="/login" class="nav-link">Perfil</a></li>
                </ul>
                
            </div>
        </div>
        
    </nav>
    
    
    
    <div class="header-content">
        <h1>FlavouryStock</h1>
        <p class="slogan"><strong>Optimiza</strong> tu cocina,<br> <strong>Reduce</strong> el desperdicio, <br><strong>Gestiona</strong> tu inventario, <br><strong>Descubre</strong> recetas.</p>
        <button class="btn p-2 btnComenzar" routerLink="create-account">Comenzar</button>
    </div>
    
</div>   
</header>
