<div class="container principal">
  <div class="stock-title">Stock Actual</div>
  <div class="row row-cols-1 row-cols-md-4 g-3">
    <div class="col" *ngFor="let item of stockItems">
      <div class="card shadow-sm text-center">
        <img [src]="item.foto" [alt]="item.alimento" class="card-img-top">
        <div class="card-body">
          <p class="card-title">{{ item.alimento }}</p>
          <p class="card-text">{{ item.peso }}</p>
          <p class="categoria">{{ item.categoria }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

  
  
