body {
    background-color: #b5d8fc;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

    background-color: #e9ecf0;
}



.stock-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0;
    padding: 10px 20px;
    background: linear-gradient(to right, #a8aaad, #839eb9);
    color: white;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.stock-title:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.card {
    width: 100%;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 20px;
    background-color: rgb(250, 237, 219);
    border: solid black 1px;
}

.card:hover {
    background-color: #f19c74;
    transform: translateY(-3px);
}

.card:focus {
    background-color: #e2e6ea;
    transform: translateY(-3px);
    outline: none;
}

.card img {
    width: 90%;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover img {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-text {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 3px;
}

.categoria {
    font-size: 13px;
    color: rgb(32, 34, 34);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.principal {
    border: solid black;
    border-radius: 10px;
}


