<div class="container p-4">
    <app-recipe-list [recipes]="recipes" (showDetail)="viewDetail($event)"></app-recipe-list>

<app-modal  [modalTitle]="selectedRecipe?.receta_nombre ?? ''" [modalContent]="''">
  <div *ngIf="selectedRecipe"  class="animate__animated animate__fadeIn">
    <p><strong>Descripción:</strong> {{selectedRecipe.receta_descripcion}}</p>

    <strong>Ingredientes:</strong>
    <ul>
      <li *ngFor="let ingrediente of ingredienteList">{{ ingrediente }}</li>
    </ul>

    <strong>Tiempo de preparación:</strong>
    <p><i class="fa-regular fa-clock"></i> {{selectedRecipe.receta_tiempo_preparacion}} min</p>

    <p><strong>Pasos:</strong></p>
    <ul>
      <li *ngFor="let paso of pasosList">{{ paso }}</li>
    </ul>
  </div>
</app-modal>

</div>
