<!-- Swiper Container -->
<div class="swiper mySwiper mt-5">
    <div class="swiper-wrapper">
  
      <!-- Slide -->
      <div class="swiper-slide" *ngFor="let recipe of recipes">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title text-center">
                  <i class="fa-solid fa-utensils"></i> {{ recipe.nombre }}
                </h5>
                <p class="card-text tex text-center">{{ recipe.descripcion }}</p>
                <div class="caracteristicas p-4">
                  <div class="d-flex gap-3 justify-content-between mb-4 tiempo">
                    <p class="card-text texto-recetas"><i class="fa-regular fa-clock"></i> {{recipe.tiempo_preparacion}} min</p>
                    <p class="card-text texto-recetas">{{recipe.categoria}}</p>
                  </div>
                  <button class="btn btn-recipe mt-2 px-3 w-75 d-grid mx-auto d-flex" data-bs-toggle="modal" data-bs-target="#flavouryModal"  (click)="viewDetail(recipe)">Ver receta <i class="fa-solid fa-square-caret-right"></i></button>
                </div>
                
              </div>
            </div>
            <div class="col-md-6 img-container">
              <img *ngIf="recipe.imagen; else imagenLocal"
            [src]="recipe.imagen"
            class="card-img-top img-fluid"
            alt="imagen de {{recipe.nombre}} no disponible"
            height="250px"
            >
                
            <ng-template #imagenLocal>
                <img [src]="imagenDefecto" alt="imagen no disponible">
            </ng-template>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <!-- Navigation buttons -->
    <div class="swiper-button-prev" (click)="onSlidePreview()"></div>
    <div class="swiper-button-next" (click)="onSlideNext()"></div>
</div>

<app-modal  [modalTitle]="selectedRecpe?.receta_nombre ?? ''" [modalContent]="''">
  <div *ngIf="selectedRecpe"  class="animate__animated animate__fadeIn">
    <p><strong>Descripción:</strong> {{selectedRecpe.receta_descripcion}}</p>

    <strong>Ingredientes:</strong>
    <ul>
      <li *ngFor="let ingrediente of ingredienteList">{{ ingrediente }}</li>
    </ul>

    <strong>Tiempo de preparación:</strong>
    <p><i class="fa-regular fa-clock"></i> {{selectedRecpe.receta_tiempo_preparacion}} min</p>

    <p><strong>Pasos:</strong></p>
    <ul>
      <li *ngFor="let paso of pasosList">{{ paso }}</li>
    </ul>
  </div>
</app-modal>
