<div class="not-found-container">
  <div class="error">
    <img class="cuatro" src="plantilla-plana-error-404.png" alt="Página no encontrada" />
    <h2 class=" text-center">¡Oops! algo se nos quemó en la cocina.</h2>
    <h2 class="text-center">
      Página no encontrada. <img src="sarten_404.png" class="taza" />
    </h2>
    <p class="text-center">No se ha encontrado la página que buscas,</p>
    <p class="text-center">puedes volver a la página anterior o visitar nuestra página de inicio.</p>
    <a routerLink="/inicio" class="volver">Volver</a>
  </div>
</div>

