.header-user{
    background-image: url('../../../../public/assets/fondo-limpio.png');
    background-size: cover;
    height: auto;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.nav-link:hover{
    color: #ED7557;
    text-shadow: 0 4px 5px rgba(237, 117, 87, 0.5);
}

.form-control:focus{
    border-color: rgb(237,117,87);
    box-shadow: 0 0 5px rgba(237, 117, 87, 0.5);
}

.btnBuscar{
    width: 140px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 15px;
}

.btnBuscar:hover{
    background-color: rgba(237, 117, 87, 0.645);
}

.btnBuscar:active{
    border-color: rgb(237,117,87);
    box-shadow: 0 0 5px rgba(237, 117, 87, 0.5);
    outline: none;
    color: white;
}


