<header class="header-user">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="assets/logo.svg" width="200px" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item me-2">
                    <a class="nav-link" [routerLink]=" idRol == 1 ? '/inicio-admin' : '/usuario'" >Inicio</a>
                    </li>

                    <li class="nav-item me-2">
                    <a class="nav-link" (click)="logOut()">Cerrar sesión</a>
                    </li>
            
                </ul>
                
                <form class="d-flex" role="search">
                    <input #txtSearch class="form-control me-2" type="search" placeholder="Buscar receta" aria-label="Search">
                    <button class="btn btnBuscar me-2" type="submit" (click)="searchRecipe(txtSearch.value)">Buscar</button>
                </form>
                <button (click)="volver()" class="btn  my-3 btnVolver">Volver</button>
                </div>
            </div>
        </nav>
    </div>

</header>
